<div class="media">
  <div class="media-left">
    <a href="{{ url_for('user', username=post.author.username) }}">
      <img class="media-object" src="{{ post.author.avatar(64) }}" alt="{{ post.author.username }}">
    </a>
  </div>
  <div class="media-body">
    <h5 class="media-heading">
      <a href="{{ url_for('user', username=post.author.username) }}">
        {{ post.author.username }}
      </a>
      says {{ moment(post.timestamp).fromNow(refresh=True) }}:
    </h5>
    {{ post.body }}
    {% if user == current_user %}
    <h6>
      <a href="{{ url_for('post', id=post.id) }}">Edit</a>
      <a href="{{ url_for('delete_post', id=post.id) }}">Delete</a>
    </h6>
    {% elif post.versions.count() > 0 %}
    <h6>
      <a href="{{ url_for('post', id=post.id) }}">History</a>
    </h6>
    {% endif %}
  </div>
</div>

