<div class="media">
  <div class="media-left">
    <a href="{{ url_for('main.user', username=post.author.username) }}">
      <img class="media-object" src="{{ post.author.avatar(64) }}" alt="{{ post.author.username }}">
    </a>
  </div>
  <div class="media-body">
    <h5 class="media-heading">
      <a href="{{ url_for('main.user', username=post.author.username) }}">
        {{ post.author.username }}
      </a>
      <i>says {{ moment(post.timestamp).fromNow(refresh=True) }}:</i>
    </h5>
    <p>{{ post.body }}</p>
    <div class="btn-group">
    {% if user == current_user %}
      <a role="button" class="btn btn-default btn-sm" href="{{ url_for('main.edit_post', id=post.id) }}">Edit</a>
      <a role="button" class="btn btn-default btn-sm" href="{{ url_for('main.delete_post', id=post.id) }}">Delete</a>
    {% endif %}
    {% if post.versions.count() > 0 %}
      <a role="button" class="btn btn-default btn-sm history" id="{{ post.id }}">Show History</a>    
    {% endif %}
    </div>
  </div>
</div>

