<div class="media">
  <div class="media-left">
    <a href="{{ url_for('user', username=post.author.username) }}">
      <img class="media-object" src="{{ post.author.avatar(64) }}" alt="{{ post.author.username }}">
    </a>
  </div>
  <div class="media-body">
    <h5 class="media-heading">
      <a href="{{ url_for('user', username=post.author.username) }}">
        {{ post.author.username }}
      </a>
      says {{ moment(post.timestamp).fromNow() }}:
    </h5>
    {{ post.body }}
  </div>
</div>

