{% extends "base.html" %}

{% if form %}
{% block scripts %}
  {{ super() }}
  <script>
    $('textarea').on('input', updateCount);
    function updateCount() {    
      $('#characters').text(
        'Characters left: ' + (140 - $(this).val().length));
    }
  </script>
{% endblock %}
{% endif %}

{% block app_content %}
  {% if form %}
  <h1>Edit Post</h1>
  {% include "_post_form.html" %}
  {% endif %}
  {% if post.versions.count() > 0 %}
  {% for version in post.versions|sort(attribute="timestamp", reverse=True) %}
  <div class="media">
    <div class="media-left">
      <a href="{{ url_for('user', username=post.author.username) }}">
        <img class="media-object" src="{{ post.author.avatar(64) }}" alt="{{ post.author.username }}">
      </a>
    </div>
    <div class="media-body">
      <h5 class="media-heading">
        Edited {{ moment(version.timestamp).calendar() }}:
      </h5>
      {{ version.body }}
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endblock %}
