{% extends "base.html" %}

{% block app_content %}
<div class="row">
  <div class="col-md-6">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-3">
          <img src="{{ user.avatar(128) }}">
        </div>
        <div class="col-md-8">
          <h1>{{ user.username }}</h1>
          <p>
            {% if user.about_me %} {{ user.about_me }} {% endif %}
          </p>
          <small>
            <i>
              {% if user.last_seen %} 
              Last seen: {{ moment(user.last_seen).fromNow(
                refresh=True) }}
              {% endif %}
            </i>
          </small>
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation">
              <a href="#">
                Followers 
                <span class="badge">{{ user.followers.count() }}</span>
              </a>
            </li>
            <li role="presentation">
              <a href="#">
                Following 
                <span class="badge">{{ user.followed.count() }}</span>
              </a>
            </li>
          </ul>
          {% if user == current_user %}
          <p>
            <a class="btn btn-deafult" href="{{ url_for('main.edit_profile') }}" role="button">
              Edit your profile
            </a>
          </p>
          {% elif not current_user.is_following(user) %}
          <p>
            <a class="btn btn-deafult" href="{{ url_for('main.follow', username=user.username) }}" role="button">
              Follow
            </a>
          </p>
          {% else %}
          <p>
            <a class="btn btn-deafult" href="{{ url_for('main.unfollow', username=user.username) }}" role="button">
              Unfollow
            </a>
          </p>
          {% endif %}
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {% for post in posts %}
    {% include "_post.html" %}
  {% endfor %}
  <nav aria-label="...">
    <ul class="pager">
      <li class="previous {% if not prev_url %} disabled {% endif %}">
        <a href="{{ prev_url or '#' }}">
          <span aria-hidden="true">&larr;</span> Older
        </a>
      </li>
      <li class="next {% if not next_url %} disabled {% endif %}">
        <a href="{{ next_url or '#'}}">
          Newer <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
